<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.UserRestaurantMapper">

    <sql id="tablename">t_user_restaurant</sql>

    <sql id="allColumns">user_id, restaurant_id, is_favorite, user_memo</sql>

    <resultMap id="UserRestaurantResultMap" type="com.example.backend.model.UserRestaurant">
        <id property="userRestaurantId.userId" column="user_id" />
        <id property="userRestaurantId.restaurantId" column="restaurant_id" />
        
        <result property="isFavorite" column="is_favorite" javaType="boolean"/>
        <result property="userMemo" column="user_memo" />

        <association property="userRestaurantId" javaType="com.example.backend.model.UserRestaurant$UserRestaurantId">
            <result property="userId" column="user_id" />
            <result property="restaurantId" column="restaurant_id" />
        </association>
    </resultMap>

    <select id="findAll" resultMap="UserRestaurantResultMap">
        SELECT *
        FROM <include refid="tablename"/>
    </select>

    <select id="findByIdUserId" resultMap="UserRestaurantResultMap"> 
        SELECT *
        FROM <include refid="tablename"/> 
        WHERE user_id = #{userId} 
    </select>

    <select id="findByIdUserIdAndIdRestaurantId" resultMap="UserRestaurantResultMap"> 
        SELECT *
        FROM <include refid="tablename"/> 
        WHERE CAST(user_id AS TEXT) = CAST(#{userId} AS TEXT)
          AND CAST(restaurant_id AS TEXT) = CAST(#{restaurantId} AS TEXT)
    </select>

    <insert id="upsert" parameterType="com.example.backend.model.UserRestaurant">
        INSERT INTO <include refid="tablename" /> (<include refid="allColumns" />) 
        VALUES (#{userRestaurantId.userId}, #{userRestaurantId.restaurantId}, #{isFavorite}, #{userMemo}) 
        ON CONFLICT(user_id, restaurant_id) 
        DO UPDATE SET 
        is_favorite = excluded.is_favorite, 
        user_memo = excluded.user_memo 
    </insert>
    <delete id="deleteByIdUserIdAndIdRestaurantId"> 
        DELETE FROM <include refid="tablename" /> 
        WHERE CAST(user_id AS TEXT) = CAST(#{userId} AS TEXT)
          AND CAST(restaurant_id AS TEXT) = CAST(#{restaurantId} AS TEXT)
    </delete>

</mapper>